/*Estilo del login (Bajo revision) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #0f0f0f, #1c1c1c);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: #202020;
    padding: 2.5rem;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Efectos para la animación de transición entre formularios */
.login-card[style*="display: none"] {
    opacity: 0;
    transform: translateY(20px);
}

.login-card h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    background-image: linear-gradient(to top, #ff6600, #fbff00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.login-card label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
}

.login-card input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #2e2e2e;
    color: #fff;
}

.login-card input:focus {
    outline: 2px solid #f1c40f;
}

.login-card .login-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #f1c40f;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-card .login-btn:hover {
    background-color: #c5a00d;
}

.login-card .options {
    margin-top: 3rem;
    text-align: center;
}

.login-card .options a {
    color: #999;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.login-card .options a:hover {
    color: #f1c40f;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    cursor: pointer;
}

.material-symbols-outlined a {
    text-decoration: none;
    color: #fff;
}